body {
    background-image: url(images/dot-grid.png);
    color: #e0e0e0;
}

.container {
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar {
    padding-top: 1%;
    padding-left: 1%;
    font-family: 'Baloo Tammudu', cursive;
    margin-bottom: 3%;
}

.footer {
    margin-top: 5%;
}